name: Python checks

on:
    push:
        branches:
            - main
    pull_request:
    schedule:
      - cron:  '0 9 * * 1'
    workflow_dispatch:

permissions: read-all

jobs:
    ruff-format:
        runs-on: ubuntu-latest

        permissions:
            pull-requests: write

        steps:
            - name: Harden runner
              uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76
              with:
                  disable-sudo: true
                  egress-policy: block
                  allowed-endpoints: >
                      files.pythonhosted.org:443
                      github.com:443
                      pypi.org:443

            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

            - name: Set up Python 3.13
              uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
              with:
                  python-version: '3.13'
                  cache: pip

            - name: Install uv
              uses: install-pinned/uv@87c2872ebb798b99a5ada5669f99ec2680716ae5

            - name: Install module and dependencies
              run: |
                  uv pip install --system -e .[dev]

            - id: cache-ruff
              uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306
              with:
                  path: .ruff_cache
                  key: ${{ runner.os }}-ruff-3.13-${{ hashFiles('pyproject.toml') }}

            - name: Run ruff format
              id: run-ruff
              run: |
                  ruff format --diff .

    ruff-check:
        runs-on: ubuntu-latest

        permissions:
            pull-requests: write
            security-events: write

        steps:
            - name: Harden runner
              uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76
              with:
                  disable-sudo: true
                  egress-policy: block
                  allowed-endpoints: >
                      api.github.com:443
                      files.pythonhosted.org:443
                      github.com:443
                      pypi.org:443

            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

            - name: Set up Python 3.13
              uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
              with:
                  python-version: '3.13'
                  cache: pip

            - name: Install uv
              uses: install-pinned/uv@87c2872ebb798b99a5ada5669f99ec2680716ae5

            - name: Install module and dependencies
              run: |
                  uv pip install --system -e .[dev]

            - id: cache-ruff
              uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306
              with:
                  path: .ruff_cache
                  key: ${{ runner.os }}-ruff-3.13-${{ hashFiles('pyproject.toml') }}

            - name: Generate SARIF file with ruff check
              id: run-ruff-sarif
              run: |
                  ruff check --output-format=sarif -o results.sarif .

            - name: Upload SARIF file to code scanning
              if: ( success() || failure() ) && contains('["success", "failure"]', steps.run-ruff-sarif.outcome)
              uses: github/codeql-action/upload-sarif@9e907b5e64f6b83e7804b09294d44122997950d6
              with:
                  sarif_file: results.sarif

            - name: Run ruff
              id: run-ruff
              if: ( success() || failure() ) && contains('["success", "failure"]', steps.run-ruff-sarif.outcome)
              run: |
                  ruff check --output-format=github .

    bandit:
        runs-on: ubuntu-latest

        permissions:
            security-events: write

        steps:
            - name: Harden runner
              uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76
              with:
                  disable-sudo: true
                  egress-policy: block
                  allowed-endpoints: >
                      api.github.com:443
                      files.pythonhosted.org:443
                      github.com:443
                      pypi.org:443

            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

            - name: Set up Python 3.13
              uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
              with:
                  python-version: '3.13'
                  cache: pip

            - name: Install uv
              uses: install-pinned/uv@87c2872ebb798b99a5ada5669f99ec2680716ae5

            - name: Install module and dependencies
              run: |
                  uv pip install --system -e .[dev]

            - name: Run bandit scan
              run: |
                  bandit --confidence-level=high --severity-level=high --configfile 'pyproject.toml' --format sarif --output results.sarif --recursive .

            - name: Upload SARIF file to code scanning
              uses: github/codeql-action/upload-sarif@9e907b5e64f6b83e7804b09294d44122997950d6
              with:
                  sarif_file: results.sarif

    mypy:
        runs-on: ubuntu-latest

        steps:
            - name: Harden runner
              uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76
              with:
                  disable-sudo: true
                  egress-policy: block
                  allowed-endpoints: >
                      files.pythonhosted.org:443
                      github.com:443
                      pypi.org:443

            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

            - name: Set up Python 3.13
              uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
              with:
                  python-version: '3.13'
                  cache: pip

            - name: Install uv
              uses: install-pinned/uv@87c2872ebb798b99a5ada5669f99ec2680716ae5

            - name: Install module and dependencies
              run: |
                  uv pip install --system -e .[dev]

            - id: cache-mypy
              uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306
              with:
                  path: .mypy_cache
                  key: ${{ runner.os }}-mypy-${{ hashFiles('pyproject.toml') }}

            - name: Run mypy
              run: |
                  mypy .

    pre-commit:
        runs-on: ubuntu-latest

        needs:
            - ruff-format
            - ruff-check
            - bandit

        permissions:
            contents: write

        steps:
            - name: Harden runner
              uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76
              with:
                  disable-sudo: true
                  egress-policy: block
                  allowed-endpoints: >
                      files.pythonhosted.org:443
                      github.com:443
                      proxy.golang.org:443
                      pypi.org:443

            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

            - name: Set up Python 3.13
              uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
              with:
                  python-version: 3.13
                  cache: pip

            - name: Install uv
              uses: install-pinned/uv@87c2872ebb798b99a5ada5669f99ec2680716ae5

            - name: Install module and dependencies
              run: |
                  uv pip install --system -e .[dev]

            - id: cache-pre-commit
              uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306
              with:
                  path: .pre-commit-cache
                  key: ${{ runner.os }}-pre-commit-3.13

            - name: Run pre-commit
              run: |
                  pre-commit install
                  pre-commit run --all-files
              env:
                  PRE_COMMIT_HOME: .pre-commit-cache
